.flex-container {
    background-color: aquamarine;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.flex-item {
    background-color: blueviolet;
    margin: 5px;
    padding: 5px;
    height: 150px;
}
span {
    font-size: 2rem;
    color: rgb(207, 255, 163);
}
.one {
    flex-grow: 1;
}
.two {
   background-color: crimson;
   flex-grow: 2;
   /* align-self: center; */
}